// custom variables
$primary: #d1228e;
$secondary: #0b8500;
$success: #30d121;
$info: #0b8500;
$warning: #ff42b7;
$danger: #ff42b7;
$light: #e8289e;
$dark: #850b56;

@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
) !default;

@import "~bootstrap/scss/bootstrap.scss";

.btn-outline-primary {
  color: #fff;
  border-color: #fff;
}

.fa-solid {
  color: #000;
}

.nav .active {
  font-weight: bolder;
}
