<div class="container container-notes">
  <form class="">
    <h1 class="my-4">{{ pageTitle }}</h1>
    <div class="card text-black">
      <div class="card-body">
        <div class="mb-3">
          <label for="noteTitle" class="form-label">Note title:</label>
          <input
            type="text"
            class="form-control"
            id="noteTitle"
            name="noteTitle"
            placeholder="Note Title"
            [(ngModel)]="note.title"
          />
        </div>
        <div 
        class="mb-3">
          <label for="dateCreated" class="form-label">Date of creating:</label>
          <input
            type="date"
            class="form-control"
            id="dateCreated"
            placeholder="Date of creating"
            name="dateCreated"
            [value]="note.date | date: 'yyyy-MM-dd'"
            (input)="dateChanged($event)"
          />
        </div>
        <div class="mb-3">
          <label for="idNote" class="form-label">ID</label>
          <input
            type="number"
            class="form-control"
            id="idNote"
            placeholder="ID"
            name="idNote"
            [(ngModel)]="note.id"
          />
        </div>
        <div class="mb-3">
          <label for="noteText" class="form-label">Note Text:</label>
          <textarea
            class="form-control"
            name="noteText"
            id="noteText"
            cols="30"
            rows="10"
            placeholder="Note Text"
            [(ngModel)]="note.text"
          ></textarea>
        </div>
        <div class="d-flex">
          <button
            class="btn btn-primary card-link w-100"
            (click)="save($event)"
          >
            <i class="fa-solid fa-floppy-disk fa-lg text-white px-2"></i
            >Speichern
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
