<div class="container container-notes">
  <form [formGroup]="noteForm" (ngSubmit)="save()">
    <h1 class="my-4">{{ pageTitle }}</h1>
    <div class="card text-black">
      <div class="card-body">
        <div class="mb-3">
          <label for="noteTitle" class="form-label">Note title:</label>
          <input
            type="text"
            class="form-control"
            id="noteTitle"
            formControlName="title"
            placeholder="Note Title"
          />
        </div>
        <div
          class="mb-3">
          <label for="dateCreated" class="form-label">Date of creating:</label>
          <input
            type="date"
            class="form-control"
            id="dateCreated"
            placeholder="Date of creating"
            formControlName="date"
            [value]="note.date | date: 'yyyy-MM-dd'"
            (input)="dateChanged($event)"
          />
        </div>
        <div class="mb-3">
          <label for="idNote" class="form-label">ID</label>
          <input
            type="number"
            class="form-control"
            id="idNote"
            placeholder="ID"
            formControlName="id"
          />
        </div>
        <div class="mb-3">
          <label for="noteText" class="form-label">Note Text:</label>
          <textarea
            class="form-control"
            formControlName="text"
            id="noteText"
            cols="30"
            rows="10"
            placeholder="Note Text"
          ></textarea>
        </div>
        <div class="d-flex">
          <button
            type="submit" class="btn btn-primary card-link w-100"
          >
            <i class="fa-solid fa-floppy-disk fa-lg text-white px-2"></i
            >Speichern
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
