<div class="container-fluid">
  <div class="row bg-light">
    <div class="col">
      <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3"
      >
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li>
            <a routerLink="notes" class="nav-link px-2 text-white fw-bolder"
              >Home</a
            >
          </li>
          <li>
            <a routerLink="edit-create" class="nav-link px-2 text-white"
              >New Note <i class="fa-solid fa-plus text-white fa-lg"></i
            ></a>
          </li>
        </ul>

        <!-- <div class="col-md-3 text-end">
          <button type="button" class="btn btn-outline-primary me-2">
            Login
          </button>
          <button type="button" class="btn btn-primary">Sign-up</button>
        </div> -->
      </header>
    </div>
  </div>
</div>
