<div class="container-fluid">
  <div class="row bg-light">
    <div class="col">
      <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3"
      >
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li>
            <a
              routerLink="/notes"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="nav-link px-2 text-white"
              >Home</a
            >
          </li>
          <li>
            <a
              routerLink="/create"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="nav-link px-2 text-white"
              >New Note <i class="fa-solid fa-plus text-white fa-lg"></i
            ></a>
          </li>
          <li>
            <a
              routerLink="/javascript-practice"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="nav-link px-2 text-white"
            >JS Practice <i class="fa-solid fa-plus text-white fa-lg"></i
            ></a>
          </li>
        </ul>
      </header>
    </div>
  </div>
</div>
