<div class="container container-notes">
  <div class="card text-black my-4" *ngFor="let note of notes">
    <div class="card-body">
      <h5 class="card-title">{{ note.title }}</h5>
      <h6 class="card-subtitle mb-2">
        {{ note.date | date: "dd.MM.YYYY" }}
      </h6>
      <p class="card-text">
        {{ note.text }}
      </p>
      <div class="d-flex">
        <a routerLink="/edit/{{ note.id }}" class="btn btn-link">
          <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <button (click)="delete(note)" class="btn btn-link">
          <i class="fa-solid fa-trash-can fa-lg"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="my-5">
    <button
      type="button"
      class="btn btn-outline-primary w-100 py-4"
      routerLink="/create"
    >
      New Note <i class="fa-solid fa-plus text-white fa-lg"></i>
    </button>
  </div>
</div>
